body {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  /* background-image:url('/src/assets/background.jpg'); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 75%;
  width: 30%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(31, 41, 55, 0.1);
  backdrop-filter: blur(10px); /* Main frosted effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  color: #E5E7EB;
}


.login-container p {
  text-align: center;
  font-size: 0.875rem;
  color: #E5E7EB;
}

.login-container p a {
  font-weight: 400;
  text-decoration: none;
  color: #4F46E5;
}

.login-container p a:hover {
  text-decoration: underline;
}

.login-container_heading {
  display: flex;
  padding: 1rem;
}

.custom-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.25rem;
  padding: 1rem;
}

.custom-form label {
  font-size: 0.875rem;
  color: #E5E7EB;
  font-weight: 400;
}

.custom-form input {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #f3f4f6;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.custom-form input:hover{
  border-color: #93c5fd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.custom-form input:focus {
  outline: none;
  outline-color: #93c5fd;
  /* focus:outline-blue-300 */
  transform: translateY(-0.25rem);
  /* focus:-translate-y-1 */
}

.custom-form .error-message {
  color: #DC2626;
  font-weight: 700;
}

.custom-form button {
  width: 100%;
  padding: 0.645rem 1rem;
  color: white;
  font-weight: 400;
  border-radius: 0.5rem;
  background-color: rgba(31, 41, 55, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.custom-form button.enabled {
  /* background-color: #4F46E5; */
  background-color: rgb(55, 65, 81,0.1);
  border: 1px solid #4B5563;
}

.custom-form button.enabled:hover {
  background-color: #2D3748;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.custom-form button.disabled {
  background-color: #6B7280;
  cursor: not-allowed;
}

.divider-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.divider-container .line {
  border-bottom: 2px solid #4B5563;
  margin-bottom: 0.625rem;
  width: 100%;
}

.divider-container .line-left {
  margin-right: 0.5rem;
}

.divider-container .line-right {
  margin-left: 0.5rem;
}

.divider-container .or-text {
  font-size: 0.875rem;
  font-weight: 700;
  width: fit-content;
  color: #E5E7EB;
}

.google-sign-in-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.625rem 0 !important; 
  border: 1px solid #4B5563;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: #374151;
  color: white;
  transition: all 0.3s ease;
}

.google-sign-in-btn:hover {
  background-color: #2D3748;
}

.google-sign-in-btn:active {
  background-color: #2D3748;
}

.google-sign-in-btn:disabled {
  cursor: not-allowed;
  background-color: #6B7280;
}

.google-sign-in-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.sign-in{
  margin-top: 25px;
}







@media (min-width: 640px) {
  .login-container_heading h3 {
    font-size: 1.5rem;
  }
}