* {
  font-family: 'Manrope', sans-serif;
}

footer{
  position: fixed;
  bottom: 0;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}
.joinBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}
.createNewBtn{
 color: #4aed88;
 text-decoration: none;
 border-bottom: 1px solid #4aed88;
 transition: all 0.3s ease-in-out;
}
.createNewBtn:hover{
  color: #368654;
  border-color: #368654;
}
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}
.aside{
  background: #1c1e29 ;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}
.asideInner{
  flex: 1;
  
}
.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: x-small;
  
}
.userName{
  margin-top: 5px;
}
.Logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;

}
.LogoImage{
  height: 50.5px;
}
.leaveBtn{
  margin-top: 20px;
  background: #4aed88;
  width: 100%;
}

.CodeMirror{
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
  flex: 1;

}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editorWrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
